@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@media (max-width: 768px){ 
.mobile {
    padding:0.5rem;
}
body {
    background: linear-gradient(45deg, #FAFFFF, #FFFFFF);
    margin-top: 0rem;
}
.nav {
    height:2rem;
    width:98vw;
    display:flex;
    justify-content:space-between;
    margin-top: 2rem;
}
.nav__button{
    height:2rem;
    width:2rem;
    margin-right:0.7rem;
}
.nav__button--notification {
    margin-right:1.5rem;
}     
.title__h2 {
    margin:0.7rem;
    font-family:Inter, serif;
    font-size:2rem;
    color: #000000;
    margin-left:0px;
}
.title {
    margin-top:2.5rem;
}
.title__h2--purple{
    color: #761CBC
}
.searchBar {
    height:2.5rem;
    padding:0px;
    display:flex;
    align-items:center;
    
}
.searchBar__input {
    height:2rem;
    border:white;
    width:76vw;
}
.searchBar__loupe {
    height:1.5rem;
}

.searchBar__button{
    background-color: white;
    border: white;;
}
.searchBar__config {
    height:1.2rem;
}
.optionNavigator {
    display:flex;
    flex-direction:row;
    margin:1rem;
    overflow-x: scroll;
    flex-wrap: nowrap;

}
.navigatorItem {
    font-size: 1rem;
    margin-right:1rem;
    margin-bottom:0.5rem;
    height: auto;
    width:auto;
    justify-content:left;
    padding:0.4rem;
    border-radius: 25%;
    border:none;
}
.trendingEventsTitle {
    display:flex;
    justify-content:space-between;
    font-size:1.1rem;
}
.trendingEventsTitle--center {
    display:flex;
    align-items: center;
    font-weight: lighter;
}
.h3 {
    font-family:Inter, serif;
    font-weight:bolder;
}
.img__trendingEvents {
    height:31vh;
    width:90vw;
    border-radius: 7%;
    margin-right:0.6rem;
}
.trendingEventsContent {
    display:flex;
    overflow-x: scroll;
}
.textBox__trendingEvents {
    color:white;
    position:relative;
    margin:auto;
    height:auto;
    width:80vw;
    bottom:5rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius:8%;
    font-weight: bolder;
}
.band {

}
}


@media (max-width: 992px){ 
     
}

@media (max-width: 992px){ 
     
}

@media (min-width: 992px){ 
     
}



