*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@media (max-width: 768px){
    .container{
        height:100vh;
        width:100vw;
    }
    .img__top{
        height:40vh;
        width:102vw;
    }
    .previous__Button--Image {
        height:2.5vh;
    }
    .previous__Button{
        height: 4vh;
        width:4vh;
        position:absolute;
        top:2.5vh;
        left:6vw;
        display:flex;
        justify-content:center;
        align-items:center;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        border: none; 
    }
}